.stories {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 38px;
    max-width: 935px;
    justify-content: space-between;
    padding: 0 22px;
    
    @media (--phonePortrait),
        (--phoneLandscape),
        (--tabletPortrait),
        (--tabletLandscape) {
        justify-content: center;
    }
}
